header{
    border: 1px solid black;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color:grey;
}
.logo{
    display: flex;
    padding: 20px;
    align-items: center;
}
    
box{
    padding: 20px;
    align-items: center ;
    display: flex;
    gap:.8rem;
    justify-content: flex-end;
}
button:last-child{
    height: 3rem;
    width: 8rem;
    background-color: blueviolet;
    font-size: 20px;
    color: aliceblue;
    font-family:'Lucida Sans';

}