.box{
    display: flex;
    border: 1px dashed red;
}

.box div{
    border: 1px solid;
}

.box div:nth-child(1){
    order: 1;
}
.box div:nth-child(2){
    order: -1;
}
.box div:nth-child(3){
    order: 0;
}
.box div:nth-child(4){
    order: 50;
}


.page {
    border: 2px solid;
    min-height: 100vh;
}

aside{
background-color: lightgreen;
}

main{
    background-color: lightblue;
}

main section:nth-child(1){  
    background: lightcoral;
}main section:nth-child(2){  
    background: lightsalmon
}main section:nth-child(3){  
    background: lightslategray;
}